body {
	background: #f3f3f3;
}

.App {
	padding: 40px;
	text-align: center;
}

.spinner {
	position: absolute;
	margin: 0 auto;
	text-align: center;
}

.photo-details {
	padding: 40px;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #fff;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.loading-screen {
	font-size: 82px;
}

.col-md-4 {
	margin-bottom: 40px;
}

.load-more {
	text-align: center;
	margin: 0 auto;
}

h1 {
	margin: 40px 0;
}
